
<ul>
  <li><%= link_to 'Kezdőlap', '/' %></li>
  <li><%= link_to 'Új cucc hozzáadása', '/cloths/new' %></li>
  <li><%= link_to 'Új szett hozzáadása', '/outfits/new' %></li>
  <li><%= link_to 'Meglévő szettek megtekintése', '/outfits' %></li>
</ul>
